body {
  font-family: Arial;
  background: #c0bebe;
  color: rgb(217, 145, 145);
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #c6bdbd;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
}

.card-button{
  width: 400px; 

}

.button{
  width: 400px; 
}

